Lesson18_XML_DTD_XSD/stidentList.xml


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="studentList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="student"
						minOccurs="1" maxOccurs="20">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="firstName" type="xs:string"/>
							<xs:element name="lastName" type="xs:string"/>
							<xs:element name="age" type="xs:integer"/>
							<xs:element name="faculty">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="ksis"/>
										<xs:enumeration value="mmf"/>
										<xs:enumeration value="fitu"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>	
    </xs:element>
</xs:schema>